<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
      <add key="WarmUpIntervalSecond" value="10"/>
      <add key="WarmUpEnableLog" value="Y"/>
      <add key="WarmUpLogPath" value="D:\Working_Files\HRM\DDMC-鼎鼎企管\WarmUp測試\Log\"/>
      <add key="WarmUpURLs" value="http://10.2.2.30:8888/HRPortal/warmup"/>
    </appSettings>
</configuration>
