<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HRPortal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="HRPortal.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--30
    <add name="NewHRPortalEntitiesDDMC_PFA" connectionString="metadata=res://*/HRPortalModels.csdl|res://*/HRPortalModels.ssdl|res://*/HRPortalModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.2.2.30;initial catalog=NewHRPortal_DDMC;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NewHRPortalEntities" connectionString="metadata=res://*/HRPortalModels.csdl|res://*/HRPortalModels.ssdl|res://*/HRPortalModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.2.2.30;initial catalog=NewHRPortal_DDMC;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SignFlowEntities" connectionString="metadata=res://*/SignFlow.Databases.UnitOfWorks.SignFlowEF.csdl|res://*/SignFlow.Databases.UnitOfWorks.SignFlowEF.ssdl|res://*/SignFlow.Databases.UnitOfWorks.SignFlowEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.2.2.30;initial catalog=NewHRPortalSignFlow_DDMC;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--本機-->
    <add name="NewHRPortalEntitiesDDMC_PFA" connectionString="metadata=res://*/HRPortalModels.csdl|res://*/HRPortalModels.ssdl|res://*/HRPortalModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NewHRPortal_DDMC;user id=sa;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="NewHRPortalEntities" connectionString="metadata=res://*/HRPortalModels.csdl|res://*/HRPortalModels.ssdl|res://*/HRPortalModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NewHRPortal_DDMC;user id=sa;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SignFlowEntities" connectionString="metadata=res://*/SignFlow.Databases.UnitOfWorks.SignFlowEF.csdl|res://*/SignFlow.Databases.UnitOfWorks.SignFlowEF.ssdl|res://*/SignFlow.Databases.UnitOfWorks.SignFlowEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NewHRPortalSignFlow_DDMC;user id=sa;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="BaseUrl" value="http://localhost:7081"/>
    <add key="LANG_RESOURCE_PATH" value="~/Resources/"/>
    <add key="LANG_RESOURCE_BACKUP_PATH" value="~/ResourcesBackup/"/>
    <add key="LOG_PATH" value="~/Log/"/>
    <add key="BACKUP_FILE_NUMBER" value="5"/>
    <!--URLEncryptKey，點選Mail連結直接進入簽核頁面，連結加密所使用的金鑰-->
    <add key="URLEncryptKey" value="FCEB089224095438ACBF482BA64A5787A465C3D08D52E822C4250819210373E2-544241871A00BAAD699082FD3A8AA04B"/>
    <!--直接登入簽核轉導網站位址-->
    <add key="SignOnlySitePath" value="/SignSite"/>
    <!--"SiteType"，供判斷手機網站或其他特定類型-->
    <!--手機網站請輸入Mobile，外網輸入Outside，其他輸入Inside或PC-->
    <add key="SiteType" value="PC"/>
    <!--AllowedMenuID:提供的功能選單ID，目前只會針對SiteType是"Mobile"與"Outside"的做篩選，其他像內網本參數會直接忽略-->
    <!--請輸入需開放的功能選單ID，以逗號分隔-->
    <add key="AllowedMenuID" value="00000014-0002-0000-0000-000000000000,00000014-0002-0002-0000-000000000000,00000014-0002-0003-0000-000000000000,00000014-0002-0006-0000-000000000000,00000014-0002-0002-0001-000000000000,00000014-0002-0003-0001-000000000000,00000014-0002-0002-0002-000000000000,00000014-0002-0011-0000-000000000000,00000014-0002-0011-0002-000000000000,00000014-0002-0002-0003-000000000000,00000014-0002-0003-0005-000000000000"/>
    <!--<add key="AllowedMenu" value="待辦事項,待簽核,送件/退簽,請假加班,假單申請,統計報表，個人假單查詢,個人資訊,變更密碼"/>-->
    <!--設定網站開放功能，若使用者使用到不允許的功能，會直接登出-->
    <!--開放部分功能請輸入OutSide或Mobile，全部開放請輸入All-->
    <add key="SiteFunctionRange" value="All"/>
    <!--AllowedFunction:允許的功能清單，登入與變更密碼不在此限，另外如果上面的SiteFunctionRange是All，就會忽略此設定-->
    <!--請輸入需開放的功能網址(網域名稱斜線之後的部分)，以逗號分隔-->
    <add key="AllowedFunction" value="Home,ToDo/SignForms,Todo/PendingForms,M02/LeaveForm,M02/LeaveCancelForm,Todo/FormQuery,DownloadFiles/Download,DownloadFiles/DownloadStream"/>
    <!--行動裝置自動轉導的網站位址 -->
    <add key="MobileSitePath" value="/Mobile"/>
    <!--測試收件者 Mail - 1.有值為測試 2.沒值為正式)-->
    <add key="PfaSendMailTestRcpt" value="aaa@"/>
    <!--績效考核待簽核郵件主旨-->
    <add key="PfaSendMailSubject" value="[績效考核] 待{0}"/>
    <!--績效考核待簽核郵件內容-->
    <add key="PfaSendMailMessage" value="您有一份[績效考核] 正在等待您{0}，{1}&lt;br/&gt;&lt;br/&gt;請點選下方連結檢視考核內容&lt;br/&gt;&lt;br/&gt;登入連結:&lt;a href='{2}'&gt;{2}&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;如有疑問請聯絡人事單位，謝謝。"/>
    <!--績效考核待簽核郵件不寄送 Y=不寄送 N=寄送-->
    <add key="PfaSendMailIsCancel" value="Y"/>
    <!--績效考核退回郵件主旨-->
    <add key="PfaSendBackSubject" value="[績效考核] 退回修改"/>
    <!--績效考核退回修改郵件內容-->
    <add key="PfaSendBackMessage" value="您有一份[績效考核] 退回修改，{0}&lt;br/&gt;&lt;br/&gt;請點選下方連結檢視考核內容&lt;br/&gt;&lt;br/&gt;登入連結:&lt;a href='{1}'&gt;{1}&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;如有疑問請聯絡人事單位，謝謝。"/>
    <!--績效考核退回修改郵件不寄送 Y=不寄送 N=寄送-->
    <add key="PfaSendBackIsCancel" value="Y"/>
    <!--Portal Url-->
    <add key="PortalWebUrl" value="http://localhost:63957/"/>
    <add key="ADLogin" value="false"/>
    <add key="URLValidityHour" value="2"/>
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="10"/>
    <compilation targetFramework="4.8"/>
  </system.web>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true"/>
    <!--<identity impersonate="true" userName="" password="" />-->
  </system.web>
  <location path="M06/DownloadFilesManager/UploadFile">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
      <httpRuntime maxRequestLength="117760" executionTimeout="1200"/>
      <!--100MB-->
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="117760000"/>
          <!--100MB-->
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization>
          <converters>
            <add name="EnumJavaScriptConverter" type="Web.EnumJavaScriptConverter"/>
          </converters>
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <applicationSettings>
    <HRPortal.Properties.Settings>
      <setting name="HRPortal_eipWebReference_Encrypt" serializeAs="String">
        <value>http://10.1.7.204/ad_auth/encrypt.asmx</value>
      </setting>
    </HRPortal.Properties.Settings>
    <HRPortal.Services.Properties.Settings>
      <setting name="HRPortal_Services_EPORTALWebService_Service" serializeAs="String">
        <value>http://e-portal.fenc.com/A15PT_webservice/service.asmx</value>
      </setting>
    </HRPortal.Services.Properties.Settings>
  </applicationSettings>
</configuration>