<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DDMC10309\SQLEXPRESS;Initial Catalog=NewHRPortal;user id=sa;password=admin;"/>-->
    <add name="NewHRPortalEntities" connectionString="metadata=res://*/HRPortalModels.csdl|res://*/HRPortalModels.ssdl|res://*/HRPortalModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.7.101;initial catalog=NewHRPortal_DDMC;user id=hr;password=c5sgus1r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=10.1.7.101;Initial Catalog=NewHRPortal_DDMC;user id=hr;password=c5sgus1r;"/>
    <add name="SignFlowEntities" connectionString="metadata=res://*/SignFlow.Databases.UnitOfWorks.SignFlowEF.csdl|res://*/SignFlow.Databases.UnitOfWorks.SignFlowEF.ssdl|res://*/SignFlow.Databases.UnitOfWorks.SignFlowEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.7.101;initial catalog=NewHRPortalSignFlow_DDMC;user id=hr;password=c5sgus1r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="SendMailIntervalSecond" value="10"/>
    <!--URLEncryptKey，點選Mail連結直接進入簽核頁面，連結加密所使用的金鑰-->
    <add key="URLEncryptKey" value="FCEB089224095438ACBF482BA64A5787A465C3D08D52E822C4250819210373E2-544241871A00BAAD699082FD3A8AA04B"/>
    <add key="DomainName" value="ddmchr.feg.com.tw"/>
    <add key="ApplicationPath" value="/HRPortal"/>
    <add key="HRMApiUrl" value="https://ddmchr.feg.com.tw/HRMWebAPI/"/>
    <add key="LogPath" value="C:\HRMServiceLog\"/>
    <add key="LogEnable" value="Y"/>

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
