<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="NewHRPortalEntitiesDDMC_PFA" connectionString="metadata=res://*/HRPortalModels.csdl|res://*/HRPortalModels.ssdl|res://*/HRPortalModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.2.2.30;initial catalog=NewHRPortal_DDMC;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="HRMApiUrl" value="http://localhost:52530/"/>
    <add key="LogPath" value=""/>
  </appSettings>
</configuration>
