<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="NewHRPortalEntitiesDDMC_PFA" connectionString="metadata=res://*/HRPortalModels.csdl|res://*/HRPortalModels.ssdl|res://*/HRPortalModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.2.2.30;initial catalog=NewHRPortal_DDMC;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SendMailIntervalSecond" value="10"/>
  </appSettings>
</configuration>
